FEEDDOCK_PORT=7789
TZ=Asia/Shanghai
PUID=1000
PGID=1000
UMASK=022
ADMIN_USER=admin
ADMIN_PASSWORD=password
SESSION_DAYS=7
COOKIE_SECURE=false
POLL_INTERVAL_MINUTES=10
REQUEST_TIMEOUT_SECONDS=20
QBIT_URL=
QBIT_USERNAME=
QBIT_PASSWORD=
QBIT_CATEGORY=rss
DOWNLOAD_PATH=/downloads/rss
MIKAN_BASE_URL=https://mikanani.me
MIKAN_FALLBACK_URLS=https://mikanime.tv,https://mikanani.kas.pub
MIKAN_CACHE_HOURS=6
UPDATE_REPOSITORY=planeteditorx/feeddock
UPDATE_API_URL=https://api.github.com
UPDATE_GITHUB_TOKEN=
